*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
}
section{
    margin: 0 60px;
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}
nav ul li{
    align-items: center;
    display: inline-block;
    margin: 30px;
    font-weight: 400;
    font-size: 25px;
    /* list-style: none; */
   
  
}
nav ul li a{
    list-style: none;
    color: white;
    text-decoration: none;

}
nav ul li a:hover{
  
 
    
}

.book-btn{
    border: none;
    background: linear-gradient(90deg, #20D4FE 0%, #B722FF 100%);
   --webkit-background-clip: text; 
    --webkit-text-fill-color: transparent;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}